@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background-color: #111111;
  margin: 0;
  box-sizing: 0;
}


.hero-section {
  display: flex;
  gap: 900px;
  margin-top: 30px;
  margin-left: 70px;
}

p,
h1,
h5 {
  margin: 0;
  padding: 0;
}

.nav-bar-options {
  display: flex;
  gap: 30px;
}

.date {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

a {
  text-decoration: none;
  transition: color 0.6s ease, transform 0.6s ease;
  font-family: "Quantico", sans-serif;
  color: white;
  font-size: 15px;
}

a:hover {
  color: #49ccf5;
  transform: translateY(-6px);
}
.welcome-section {
  display: flex;
  margin-right: 100px;
  margin-top: 150px;
}

.welcome-section .details-section {
  margin-left: 250px;
  width: 850px;
}

.welcome-section .details-section h1 {
  text-transform: uppercase;
  font-family: "Quantico", sans-serif;
  color: #49ccf5;
  font-size: 55px;
  transform: translateX(-50vw);
  opacity: 0;
  animation: slideIn 0.9s ease-out forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.welcome-section .details-section h5 {
  color: #ffffffbc;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 49px;
  transform: translateX(-50vw);
  opacity: 0;
  animation: slideIn 0.9s ease-out forwards;
}

.welcome-section .myimage-section {
  margin-left: 50px;
  width: 200px;
  height: 200px;
  background-color: rgb(60, 52, 52);
  border-radius: 50%;
  opacity: 0;
  animation: opacity 3s ease-out forwards;
}

@keyframes opacity{
    to{
        opacity: 0.6;
    }
}

.footer {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-color: white;
  height: 100px;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 160px;
  border: 1px solid rgba(245, 222, 179, 0.025);
}
/*  */